# Quick reference for future https://fly.io/docs/reference/configuration/ 


app = "log-analyzer"
primary_region = "dfw"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[processes]
  app = "uvicorn src.main:app --host 0.0.0.0 --port 8080"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
